.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .carousel figure {
    flex: 0 0 100%;
    margin: 0;
    scroll-snap-align: start;
  }

  .carousel img {
    width: 100%;
    height: auto;
  }
  
  h3 {
    font-family: 'Castoro Titling', cursive;
    font-family: 'Viga', sans-serif;
  }
  p {
    font-family: 'Castoro Titling', cursive;
    font-family: 'Viga', sans-serif;
  }
  p 
  
  img {
    width:200px; height:40px; 
  }