body {
	background-image: url(https://fondosmil.com/fondo/10224.jpg);
	background-repeat: repeat;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: rgb(255, 255, 255);
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

h1 {
	font-family: 'Viga', sans-serif;
}

h2 {
	color: rgb(0, 0, 0);
}

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-header h1 {
	margin-bottom: 50px;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.sales {
	flex-direction: row !important;
}

#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}

.store img {
	width: 500px;
	height: 500px;
}

@media only screen and (max-width: 768px) {
	#projects .project-item {
		flex-direction: column !important;
	}
}

#projects .project-info {
	padding: 30px;
	flex-basis: 35%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323C 0%, #ffffff 100%);
	color: rgb(0, 0, 0);
}

#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

#projects .project-info p {
	color: rgb(0, 0, 0);
}

.food {
	transform: scale(0.5);
}

#projects .project-img {
	flex-basis: 50%;
	height: 50px;
	overflow: hidden;
	position: relative;
}

.project-item {
	flex-basis: 100%;
	max-width: 100%;
}

@media (min-width: 576px) {
	.project-item {
		flex-basis: 50%;
		max-width: 50%;
	}
}

@media (min-width: 992px) {
	.project-item {
		flex-basis: 33.33%;
		max-width: 33.33%;
	}
}

@media (min-width: 1200px) {
	.project-item {
		flex-basis: 25%;
		max-width: 25%;
	}
}

/* End Projects section */
/* Aquí van los estilos adicionales */
.success-case-item.active .case-content {
	max-height: 1000px;
}

.success-case-item .case-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.case-content p {
	font-size: 16px;
	color: #777;
	line-height: 1.5;
}


footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}