body {
	background-image: url(./Assets/background.png);
	background-repeat: repeat;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: rgb(0, 0, 0);
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

h1 {
	font-family: 'Viga', sans-serif;
}

h2 {
	color: white
}

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-header h1 {
	margin-bottom: 50px;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sales {
	flex-direction: row !important;
}

#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	/* top: -80px;
    left: -500px; */
}


.store img {
	width: 500px;
	height: 500px;
}

@media only screen and (max-width: 768px) {
	#projects .project-item {
		flex-direction: column !important;
	}
}

#projects .project-info {
	padding: 30px;
	flex-basis: 35%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323C 0%, #485563 100%);
	color: rgb(0, 0, 0);
}

#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

#projects .project-info p {
	color: rgb(0, 0, 0);
}

.food {
	transform: scale(0.5)
}

#projects .project-img {
	flex-basis: 50%;
	height: 50px;
	overflow: hidden;
	position: relative;
}


/* End Projects section */