#projects {
    text-align: center;
  }
  
  .carousel-item img {
    max-height: 400px;
    width: auto;
    margin: 0 auto;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .carousel-item:not(:last-child) {
    margin-bottom: 50px;
  }
  